<a href="https://colab.research.google.com/github/wayaadhyasta/learningToMachineLearning_PengantarAnalisData-5-6-/blob/main/Salinan_dari_Salinan_dari_Pertemuan_5_dan_6_PAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#Membaca dataset
df = pd.read_csv('/content/Apartemen.csv')
df

   KodeApt   Wilayah St_Milik Jum_kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y        na

In [ ]:
# Cek ada missing value
df.isnull().values.any()

True

In [ ]:
# Cek banyaknya missing value
df.isnull().sum().sum()

5

In [ ]:
#Melihat kolom kodeApt
df['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [ ]:
#Melihat missing value pada baris
df['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

In [ ]:
#Melihat data kolom jum_kamar dan mengecek data null pada kolom
df['Jum_kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: Jum_kamar, dtype: object

In [ ]:
#Melihat data missing values pada jum_kamar
df['Jum_kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: Jum_kamar, dtype: bool

In [ ]:
missing = ['na', '--']
df = pd.read_csv('/content/Apartemen.csv', na_values = missing)

In [ ]:
#Baca data kolom st milik
df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [ ]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [ ]:

cnt = 0

for row in df['St_Milik']:
  try:
    df['St_Milik'].isnull()
    int(row) #Mendeteksi angka pada kolom st milik
    df.loc[cnt, 'St_Milik'] = np.nan #apabila int maka akan disimpan pada variabel np.nan
  except ValueError:
    pass
  cnt+=1

In [ ]:
df['St_Milik'].isnull() #isnull untuk memastikan data ada missing value atau tidak

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [ ]:
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     2
Jum_kamar    4
dtype: int64

# Mengisi missing values

In [ ]:
df['KodeApt'].fillna(228, inplace = True)
df['KodeApt']

<ipython-input-25-24854d9aecde>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['KodeApt'].fillna(228, inplace = True)

0    104.0
1    197.0
2    228.0
3    201.0
4    203.0
5    207.0
6    228.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [ ]:
#Mengganti data pada lokasi spesifik
df.loc[2, 'KodeApt'] = 387
df['KodeApt']

0    104.0
1    197.0
2    387.0
3    201.0
4    203.0
5    207.0
6    228.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [ ]:
#Mengisi missing value menggunakan median
median = df['Jum_kamar'].median()
df['Jum_kamar'].fillna(median, inplace = True)
df['Jum_kamar']

<ipython-input-27-f3ec425795c0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Jum_kamar'].fillna(median, inplace = True)

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_kamar, dtype: float64

In [ ]:
#melihat data
df

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2    387.0    Sleman        N        3.0
3    201.0     Yogya      NaN        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    228.0  KL-Progo      NaN        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [ ]:
df.loc[3, 'St_Milik'] = 'N'
df.loc[6, 'St_Milik'] = 'Y'
df['St_Milik']

0    Y
1    N
2    N
3    N
4    Y
5    Y
6    Y
7    Y
8    Y
Name: St_Milik, dtype: object

In [ ]:
df

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2    387.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    228.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [ ]:
#Menyimpan data
df.to_csv('Apartemen_ok.csv')

# encoder

In [ ]:
#Libraries
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
import pandas as pd
import numpy as np

#baca file dataset
df2 = pd.read_csv('/content/Apartemen_ok.csv')

#melihat semua isi data
df2
le = LabelEncoder()

for col in df.columns.values:
  #Encoding pada variabel kategorial
  if df2[col].dtypes=='object':
      data = df2[col]
      le.fit(data.values) #Menginisiasi label encodernya
      df2[col] = le.transform(df2[col])
df2

   Unnamed: 0  KodeApt  Wilayah  St_Milik  Jum_kamar
0           0    104.0        0         1        3.0
1           1    197.0        2         0        3.0
2           2    387.0        2         0        3.0
3           3    201.0        3         0        1.0
4           4    203.0        3         1        3.0
5           5    207.0        3         1        3.0
6           6    228.0        1         1        2.0
7           7    213.0        0         1        3.0
8           8    215.0        0         1        3.0

In [ ]:
df2.to_csv('Apartemen_numerik.csv', header = True, index = False)

# Scalling

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
import pandas as pd

df = pd.read_csv("/content/Apartemen_numerik.csv")
print(df)

   Unnamed: 0  KodeApt  Wilayah  St_Milik  Jum_kamar
0           0    104.0        0         1        3.0
1           1    197.0        2         0        3.0
2           2    387.0        2         0        3.0
3           3    201.0        3         0        1.0
4           4    203.0        3         1        3.0
5           5    207.0        3         1        3.0
6           6    228.0        1         1        2.0
7           7    213.0        0         1        3.0
8           8    215.0        0         1        3.0

In [ ]:
print(df.describe())

       Unnamed: 0     KodeApt   Wilayah  St_Milik  Jum_kamar
count    9.000000    9.000000  9.000000  9.000000   9.000000
mean     4.000000  217.222222  1.555556  0.666667   2.666667
std      2.738613   73.110837  1.333333  0.500000   0.707107
min      0.000000  104.000000  0.000000  0.000000   1.000000
25%      2.000000  201.000000  0.000000  0.000000   3.000000
50%      4.000000  207.000000  2.000000  1.000000   3.000000
75%      6.000000  215.000000  3.000000  1.000000   3.000000
max      8.000000  387.000000  3.000000  1.000000   3.000000

In [ ]:
df.loc[2,'Jum_kamar'] = 100
print(df)
print(df.shape)
print(df.Jum_kamar)

   Unnamed: 0  KodeApt  Wilayah  St_Milik  Jum_kamar
0           0    104.0        0         1        3.0
1           1    197.0        2         0        3.0
2           2    387.0        2         0      100.0
3           3    201.0        3         0        1.0
4           4    203.0        3         1        3.0
5           5    207.0        3         1        3.0
6           6    228.0        1         1        2.0
7           7    213.0        0         1        3.0
8           8    215.0        0         1        3.0
(9, 5)
0      3.0
1      3.0
2    100.0
3      1.0
4      3.0
5      3.0
6      2.0
7      3.0
8      3.0
Name: Jum_kamar, dtype: float64

In [ ]:
fitur_minmax = df.copy()
Kol_minmax =['Jum_kamar']
features = fitur_minmax[Kol_minmax]
min_max = MinMaxScaler()
kamar_minmax=min_max.fit_transform(features.values)

print(kamar_minmax)

[[0.02020202]
 [0.02020202]
 [1.        ]
 [0.        ]
 [0.02020202]
 [0.02020202]
 [0.01010101]
 [0.02020202]
 [0.02020202]]

In [ ]:
fitur_minmax[Kol_minmax] = kamar_minmax
print(fitur_minmax)

df.to_csv('/content/Apartemen_minmax.csv', header=True, index=False)

   Unnamed: 0  KodeApt  Wilayah  St_Milik  Jum_kamar
0           0    104.0        0         1   0.020202
1           1    197.0        2         0   0.020202
2           2    387.0        2         0   1.000000
3           3    201.0        3         0   0.000000
4           4    203.0        3         1   0.020202
5           5    207.0        3         1   0.020202
6           6    228.0        1         1   0.010101
7           7    213.0        0         1   0.020202
8           8    215.0        0         1   0.020202

In [ ]:
for col in df.columns.values:
  features = df[[col]]
  features_min_max = min_max.fit_transform(features)
  df[col] = features_min_max

df

<ipython-input-56-222d560282f7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = features_min_max
<ipython-input-56-222d560282f7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = features_min_max
<ipython-input-56-222d560282f7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = features_min_max
<ipython-input-56-222d560282f7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = features_min_max

    KodeApt   Wilayah  St_Milik  Jum_kamar
0  0.000000  0.000000       1.0   0.020202
1  0.328622  0.666667       0.0   0.020202
2  1.000000  0.666667       0.0   1.000000
3  0.342756  1.000000       0.0   0.000000
4  0.349823  1.000000       1.0   0.020202
5  0.363958  1.000000       1.0   0.020202
6  0.438163  0.333333       1.0   0.010101
7  0.385159  0.000000       1.0   0.020202
8  0.392226  0.000000       1.0   0.020202

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
fitur_standar = df.copy()[['KodeApt']]
standarisasi = scaler.fit_transform(fitur_standar)

print(standarisasi)

[[-1.64257868]
 [-0.29337519]
 [ 2.46306204]
 [-0.23534493]
 [-0.2063298 ]
 [-0.14829955]
 [ 0.15635931]
 [-0.06125416]
 [-0.03223903]]

In [ ]:
df['KodeApt'] = standarisasi
df

NameError: name 'standarisasi' is not defined